apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
configMapGenerator:
  - name: zitadel-values
    namespace: flux-system
    files:
      - values.yaml
configurations:
  - kustomizeconfig.yaml
