global:
  env:
    - name: AUTHENTIK_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-secret-key
          key: secret-key
    - name: AUTHENTIK_POSTGRESQL__HOST
      value: authentik-pg-rw.authentik.svc.cluster.local
    - name: AUTHENTIK_POSTGRESQL__NAME
      value: authentikdb
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: username
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: password
    - name: AUTHENTIK_EMAIL__USERNAME
      valueFrom:
        secretKeyRef:
          name: email-credentials
          key: username
    - name: AUTHENTIK_EMAIL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: email-credentials
          key: password

server:
  ingress:
    enabled: false
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
      ephemeral-storage: 1Gi
    limits:
      cpu: 500m
      memory: 512Mi
      ephemeral-storage: 2Gi
  autoscaling:
    enabled: false
  metrics:
    enabled: true
    # serviceMonitor:
    #   enabled: true
  volumes:
    - name: shm
      emptyDir:
        medium: Memory
        sizeLimit: 512Mi
  volumeMounts:
    - name: shm
      mountPath: /dev/shm

worker:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
      ephemeral-storage: 1Gi
    limits:
      cpu: 500m
      memory: 512Mi
      ephemeral-storage: 2Gi

redis:
  enabled: true
  master:
    persistence:
      storageClass: local-path
      size: 5Gi
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi

postgresql:
  enabled: false

email:
  host: smtp.email.eu-frankfurt-1.oci.oraclecloud.com
  port: 587
  use_tls: true
  from: do-not-reply@mail.cloud.blacksd.tech
